name: Build and deploy
on: push
jobs:
  test:
    # why bun no like GHA?
    if: false
    name: 'Run bun tests'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: navikt/tsm-workflows/actions/yarn@main
        with:
          READER_TOKEN: ${{ secrets.READER_TOKEN }}
      - uses: oven-sh/setup-bun@v1
        with:
          bun-version: 1.2.4
      - run: yarn test

  build-and-publish:
    if: github.ref == 'refs/heads/main'
    name: 'Prod: Bygg, test og push Docker image'
    runs-on: ubuntu-latest
    permissions:
      packages: 'write'
      contents: 'read'
      id-token: 'write'
    outputs:
      image: ${{ steps.docker-build-push.outputs.image }}
    steps:
      - uses: actions/checkout@v5
      - uses: navikt/tsm-workflows/actions/yarn@main
        with:
          READER_TOKEN: ${{ secrets.READER_TOKEN }}
      - run: yarn lint
      - run: yarn build
        env:
          NEXT_PUBLIC_ENVIRONMENT: production
      - name: Push docker image to GAR
        uses: nais/docker-build-push@v0
        id: docker-build-push
        with:
          team: teamsykmelding
          image_suffix: prod
          build_args: |
            NPM_AUTH_TOKEN=${{ secrets.READER_TOKEN }}

  build-and-publish-dev:
    if: github.actor != 'dependabot[bot]'
    name: 'Dev: Bygg, test og push Docker image'
    runs-on: ubuntu-latest
    permissions:
      packages: 'write'
      contents: 'read'
      id-token: 'write'
    outputs:
      image: ${{ steps.docker-build-push.outputs.image }}
    steps:
      - uses: actions/checkout@v5
      - uses: navikt/tsm-workflows/actions/yarn@main
        with:
          READER_TOKEN: ${{ secrets.READER_TOKEN }}
      - run: yarn lint
      - run: yarn build
        env:
          NEXT_PUBLIC_ENVIRONMENT: dev
      - name: Push docker image to GAR
        uses: nais/docker-build-push@v0
        id: docker-build-push
        with:
          team: teamsykmelding
          image_suffix: dev
          build_args: |
            NPM_AUTH_TOKEN=${{ secrets.READER_TOKEN }}

  build-for-dependabot:
    if: github.actor == 'dependabot[bot]'
    name: 'Build for dependabot'
    runs-on: ubuntu-latest
    permissions:
      packages: 'write'
      contents: 'read'
      id-token: 'write'
    outputs:
      image: ${{ steps.docker-build-push.outputs.image }}
    steps:
      - uses: actions/checkout@v5
      - uses: navikt/tsm-workflows/actions/yarn@main
        with:
          READER_TOKEN: ${{ secrets.READER_TOKEN }}
      - run: yarn lint
      - run: yarn build
        env:
          NEXT_PUBLIC_ENVIRONMENT: dev

  deploy-bot-to-gcp:
    if: github.ref == 'refs/heads/main'
    name: Deploy to prod
    needs: [build-and-publish]
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
      packages: write
    environment:
      name: production
      url: https://helsesjekk-bot.nav.no
    steps:
      - uses: actions/checkout@v5
      - uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: prod-gcp
          RESOURCE: .nais/nais-prod.yaml
          VAR: image=${{ needs.build-and-publish.outputs.image }}

  deploy-bot-to-gcp-dev:
    name: Deploy to dev
    needs: [build-and-publish-dev]
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
      packages: write
    environment:
      name: development
      url: https://helsesjekk-bot.intern.dev.nav.no
    steps:
      - uses: actions/checkout@v5
      - uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: dev-gcp
          RESOURCE: .nais/nais-dev.yaml
          VAR: image=${{ needs.build-and-publish-dev.outputs.image }}

  security:
    name: Security
    secrets: inherit
    permissions:
      contents: read
      id-token: write
      security-events: write
    needs: build-and-publish
    uses: navikt/tsm-workflows/.github/workflows/security.yaml@main
    with:
      image: ${{ needs.build-and-publish.outputs.image }}
      team: teamsykmelding
